@import "https://fonts.googleapis.com/css2?family=League+Spartan";

@media screen and (width < 500px) {
  .box-container {
    grid-template-columns: 1fr !important;
  }
  span {
    font-size: 14px !important;
  }
}

@media screen and (width < 700px) and (width > 500px) {
  .contact-box {
    width: 150px !important;
    height: 150px !important;
  }
  span {
    font-size: 10px !important;
  }
}

main {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 100px;
  padding-bottom: 50px;
}

iframe {
  width: min(800px, 100%);
  height: 80vh;
  margin: auto 0;
  padding-top: 50px;
  aspect-ratio: 800 / 1700;
  background: #d7e6f9;
  border-radius: 20px 20px 20px 20px;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  max-width: 1500px;
}

.contact-box {
  width: 200px;
  height: 200px;
  background: whitesmoke;
  box-shadow: 0 0 10px #333;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  transition: box-shadow 0.3s;
}

.contact-box:hover {
  box-shadow: 0 0 20px #333;
}

.page-title {
  box-sizing: border-box;
  padding: 10px;
  width: min(100%, 700px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

body {
  background-image: linear-gradient(
    126.6deg,
    rgba(44, 115, 210, 1) 3.4%,
    rgba(251, 234, 255, 1) 127.9%
  );
}

h3 {
  color: white;
  font-weight: bold;
  font-family: "League Spartan";
  font-size: 2rem;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.email-image {
  width: 30%;
  align-self: end;
  background: rgba(124, 59, 240, 0.31);
  padding: 0 5px;
  border-radius: 7px;
}

.email-box {
  grid-template-rows: 2fr 3fr;
  text-align: center;
}
span {
  font-size: 14px;
  font-family: "League Spartan";
  color: #7c3bf0;
}

.insta {
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.insta-image {
  width: 30%;
  align-self: end;
  background: rgba(243, 17, 255, 0.16);
  padding: 5px 5px;
  border-radius: 7px;
}

.linktree {
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.linktree-image {
  width: 30%;
  align-self: end;
  background: rgba(113, 255, 183, 0.31);
  padding: 5px 5px;
  border-radius: 7px;
}

.contact-links {
  color: #7c3bf0;
  font-size: 1.5rem;
  font-family: "League Spartan";
  text-decoration: none;
}
.contact-links:hover {
  text-decoration: underline;
}
