* {
  margin: 0;
  padding: 0;
}
body {
  background: whitesmoke;
  overflow-x: hidden;
}

@media screen and (width > 800px) {
  .mission-leadership {
    grid-template-columns: 3fr 2fr !important;
  }
  .leadership-container {
    justify-items: start !important;
  }
  .page-title {
    scale: 1.5;
  }
}

@media screen and (width > 1100px) {
  .mission-text {
    font-size: 2rem !important;
  }
}

.page-title {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-family: "League Spartan";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}

/* mission */
.mission-leadership {
  display: grid;
  grid-template-columns: 1fr;
}
.mission-container {
  padding: 50px;
  padding-top: 100px;
  max-width: 700px;
  margin: 0 auto;
}
.mission-title {
  text-align: center;
  font-size: 4rem;
  font-family: "League Spartan";
  margin-bottom: 50px;
  color: #4d9dd4;
}
.mission-text {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0);
  border: 1px solid lightgray;
  backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.leadership-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.leader-card {
  max-width: 500px;
  margin: 40px;
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.leadership-image {
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.leadership-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  color: #4d9dd4;
  border-radius: 0 0 20px 20px;
}

.up-container {
  margin-top: 100px;
}

.up-title {
  font-size: 3.25rem;
  font-family: "League Spartan";
  text-align: center;
}

.up-gallery-container {
  display: grid;
  margin-top: 50px;
  place-items: center;
  transition: transform 0.5s;
}

.gallery-button {
  cursor: pointer;
  filter: none;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -190px;
  transition: background 0.2s, filter 0.2s, clip-path 0.2s;
}

.gallery-button:hover {
  background: rgb(65, 127, 241);
}

.gallery-button-left {
  left: 10px;
  clip-path: polygon(80% 0, 50% 50%, 80% 100%, 10% 50%);
}

main {
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery-button-right {
  left: calc(100% - 50px);
  top: -230px;
  clip-path: polygon(20% 100%, 50% 50%, 20% 0, 90% 50%);
}

#neural-network {
  width: 100%;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  z-index: -1000;
}

.up-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 300px;
  height: 330px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 0px #333;
  transition: box-shadow 0.3s;
  border: 0.5px solid #333;
}

.up-card:hover {
  box-shadow: 0 0 5px #333;
}

.up-titles {
  font-size: 1.75rem;
  text-align: center;
}
.up-info {
  font-size: 1rem;
  padding: 5px;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Monserrat", sans-serif;
}

.up-images {
  width: 100%;
  border-radius: 20px;
}

.up-images-container {
  padding: 20px 20px 0 20px;
}
