@import "https://fonts.googleapis.com/css2?family=League+Spartan";

/* For Debugging Purposes */
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (width > 1200px) {
  nav {
    min-width: 1000px !important;
  }
  .pages {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2.25rem;
    text-align: center;
  }
}

@media screen and (width < 800px) {
  h1 {
    display: none;
  }
  .logo {
    place-self: center;
    scale: 0.75;
    margin: 0 0 0 2px !important;
    padding: 0 !important;
  }

  .brand-container {
    grid-template-columns: 1fr !important;
  }
  nav {
    min-width: 50px !important;
    grid-template-columns: 1fr 4fr !important;
    gap: 5px;
    height: 40px !important;
    place-items: center;
    padding: 0 8px 0px 0 !important;
  }
  .pages-container {
    gap: 5px;
    height: 35px;
  }
  .pages {
    scale: 1;
    padding: 4px 7px !important;
  }
}
.logo {
  aspect-ratio: 1 to 1;
  width: 40px;
  filter: brightness(0) invert();
  transition: filter 0.3s;
}

nav {
  display: grid;
  z-index: 1000;
  grid-template-columns: 2fr 3fr;
  min-width: 700px;
  margin-top: 10px;
  color: white;
  height: 40px;
  border-radius: 30px;
  backdrop-filter: brightness(70%);
  padding: 7px 7px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  transition-property: background, color;
  transition-duration: 0.3s;
}
.brand-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-family: "League Spartan";
}
.pages-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
}
.pages {
  font-family: "League Spartan";
  transition: background 0.2s;
  padding: 10px;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
}
.pages:hover {
  background: #93daec;
}
h1 {
  min-width: 50px;
  font-size: 2.25rem;
  margin-top: auto;
}
.home-header {
  display: grid;
  justify-content: center;
  background-image: url("/img/stuybuilding.png");
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
.events-header {
  display: grid;
  justify-content: center;
  background-image: url("/img/events.png");
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
.cabinet-header {
  display: grid;
  justify-content: center;
  background-image: url("/img/team.png");
  overflow-x: hidden;
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
.contact-header {
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
.iconText {
  aspect-ratio: 1 to 1;
  height: 20px;
  transform: translateY(1px);
}
